In [1]:
if 10==10:
    print('true')  
elif 8==7:
    print('xyz')
else:
    print('nothing')

true

In [2]:
8==7

False

In [3]:
a=10;b=25;c=100;d=('cat','dog','bird')

In [4]:
if a==10 and b<40:
    print('this is true')

this is true

In [5]:
a==10 and b<4

False

In [6]:
a==10 or b<4

True

In [7]:
if a==100 and b<40:
    print('this is true')
else:
    print('this is false')

this is false

In [8]:
a==9

False

In [9]:
if a==10:
    print('a is true')
    if b<40:
        print('b is true')
        if c==100:
            print('c is true')
        else:
            print('c is false')
    else:
        print('b is false')
else:
    print('a is false')

a is true
b is true
c is true

In [10]:
a =10; b =25; c =100; d =("cat", "dog", "bird")

In [11]:
if a==10:
    print("a is true!")
    
    if b<40:
        print("b is true!")
        
        if c>9:
            print(" c is true!")
            
            if "bird" in d:
                print("d is True!")
            else:
                print("d is False!")
        else:
            print("c is False!")
    else:
        print("b is False!")
else:
    print("a is False!")

a is true!
b is true!
 c is true!
d is True!

In [15]:
num = eval(input("Enter a number: "))

if num>=3:
    print(" keep looking!")
    
elif d[num] == "cat":
    print("Found a ()".format(d[dum]))
    

elif d[num] == "dog":
    print("Found a ()".format(d[num]))

Enter a number: 2

In [16]:
d

('cat', 'dog', 'bird')

In [17]:
total = [list(range(11)), list(range(11,21)), list(range(21,31))]
total

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
 [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]]

In [21]:
v = eval(input("Enter a number:"))

if v in total[0]:
    print(v,"in list one")
    
elif v in total[1]:
    print(v, "in list two")
    
elif v in total[2]:
    print(v, "in list three")

Enter a number:11
11 in list two