In [ ]:
#Examples of loops

In [2]:
a = 1 ; b = 1
while a < 5:
    while b < 5:
        print("{} + {} = {}".format(a, b, a+b))
        a+=1; b+=1

1 + 1 = 2
2 + 2 = 4
3 + 3 = 6
4 + 4 = 8

In [6]:
for a in range(1,5):
    for b in range(1,5):
        print("{} + {} = {}".format(a, b, a+b))

1 + 1 = 2
1 + 2 = 3
1 + 3 = 4
1 + 4 = 5
2 + 1 = 3
2 + 2 = 4
2 + 3 = 5
2 + 4 = 6
3 + 1 = 4
3 + 2 = 5
3 + 3 = 6
3 + 4 = 7
4 + 1 = 5
4 + 2 = 6
4 + 3 = 7
4 + 4 = 8

In [12]:
x = 0
while x <21:
    print("while x = ", x)
    for g in [50, 60, 70, 80]:
        y = x+g
        print(y)
    x+=5

while x =  0
50
60
70
80
while x =  5
55
65
75
85
while x =  10
60
70
80
90
while x =  15
65
75
85
95
while x =  20
70
80
90
100

In [17]:
for i in range(20):
    if i % 2 ==0:
        print("even is  ",i)
    else:
        print("odd is ",i)

even is   0
odd is  1
even is   2
odd is  3
even is   4
odd is  5
even is   6
odd is  7
even is   8
odd is  9
even is   10
odd is  11
even is   12
odd is  13
even is   14
odd is  15
even is   16
odd is  17
even is   18
odd is  19

In [15]:
a = 0
while a < 7:
    for b in ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']:
        print('{} = {}'.format(a,b))
        a+=1

0 = Sunday
1 = Monday
2 = Tuesday
3 = Wednesday
4 = Thursday
5 = Friday
6 = Saturday

In [19]:
# comparing the elements of two lists
A = [4, 5, 8, 9, 10, 44, 56, 77]
B = [3, 6, 8, 11, 55, 66, 88, 99]
x = 0
while x < len(A):
    if A[x] == B[x]:
        print('both are equal')
    elif A[x] > B[x]:
        print('a is greater than b')
    else:
        print('a is less than b')
    x+=1

a is greater than b
a is less than b
both are equal
a is less than b
a is less than b
a is less than b
a is less than b
a is less than b

In [20]:
# comparing the elements of two lists
A = [4, 5, 8, 9, 10, 44, 56, 77]
B = [3, 6, 8, 11, 55, 66, 88, 99]
x = 0
while x < len(A):
    if A[0] == B[x]:
        print('both are equal')
    elif A[x] > B[x]:
        print('a is greater than b')
    else:
        print('a is less than b')
    x+=1

a is greater than b
a is less than b
a is less than b
a is less than b
a is less than b
a is less than b
a is less than b
a is less than b

In [24]:
# break, pass, continue
# break stopsa loop at a certain point
# pass prevenets a code from being run at all
#continue runs a loop at a certain point
for x in range(50):
    if x > 20 and x > 30:
        if x== 35:
            pass
        print(x)
        x+=1

31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [25]:
for x in range(50):
    if x > 20 and x > 30:
        if x== 35:
            continue
        print(x)
        x+=1

31
32
33
34
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [26]:
for x in range(50):
    if x > 20 and x > 30:
        if x== 35:
            break
        print(x)
        x+=1

31
32
33
34

In [27]:
x = 'MATHEMATICS'
for alpha in x:
    if alpha == 'A':
        pass
    print(alpha)

M
A
T
H
E
M
A
T
I
C
S

In [28]:
x = 'MATHEMATICS'
for alpha in x:
    if alpha == 'A':
        continue
    print(alpha)

M
T
H
E
M
T
I
C
S

In [29]:
x = 'MATHEMATICS'
for alpha in x:
    if alpha == 'A':
        break
    print(alpha)

M

In [30]:
x = 'MATHEMATICS'
for alpha in x:
    if alpha == 'Z':
        pass
    print(alpha)

M
A
T
H
E
M
A
T
I
C
S

In [33]:
for chance in range(1,4):
    password = input('\nenter a password: ')
    if password == 'Talha':
        print('--correct password\n---Unlocking your Phone')
        break
    print(f'Incorrect attempt: {chance }')

enter a password: a
Incorrect attempt: 1

enter a password: a
Incorrect attempt: 2

enter a password: a
Incorrect attempt: 3

# ZIP AND ENUMERATE

# ZIP

In [34]:
# O zip can combine elements from two or more list into tuple

In [ ]:
# Enumerate can genreate an integer number next to each ouput

In [35]:
for w in range (10, 20, 5):
    print(w)

10
15

In [41]:
for count, w in enumerate(range(10, 50, 5)):
    print(count, w)

0 10
1 15
2 20
3 25
4 30
5 35
6 40
7 45

In [43]:
for count, w in enumerate(range(10, 50, 5), 100):
    print(count, w)

100 10
101 15
102 20
103 25
104 30
105 35
106 40
107 45

In [44]:
for count, w in enumerate(range(10, 500, 50), 500):
    print(count, w)

500 10
501 60
502 110
503 160
504 210
505 260
506 310
507 360
508 410
509 460

In [46]:
tup1 = (33, 44, 55)
mylist = [10, 20, 30]
z= zip(tup1, mylist)
z

In [66]:
tup1 = (33, 44, 55)
mylist = [10, 20, 30]
z= list(zip(tup1, mylist))
z

[(33, 10), (44, 20), (55, 30)]

In [67]:
z

[(33, 10), (44, 20), (55, 30)]

In [68]:
type(z)

list

In [69]:
tup1 = (33, 44, 55)
mylist = [10, 20, 30]
z= zip(tup1, mylist)
z

In [70]:
type(z)

zip

In [78]:
for a, b in z:
    print(a*b)

In [71]:
(range(0, 5))

range(0, 5)

In [72]:
list(range(0, 5))

[0, 1, 2, 3, 4]

In [73]:
for t, m in z:
    print(t+m)

43
64
85

In [83]:
for t, m in z:
    print(t*m)

In [84]:
t*m

1650

In [79]:
for i in range(3):
    print(tup1[i] + mylist[i])

43
64
85

In [81]:
groceries = ['apples', 'chips', 'breads', 'eggs']
prices = [2, 3, 1.2, 40]
for food in range(4):
    print(groceries[food], '=', prices[food])

apples = 2
chips = 3
breads = 1.2
eggs = 40

In [86]:
zip_shop = (zip(groceries, prices))
zip_shop

In [87]:
for g, p in zip_shop:
    print(g, '=', p)

apples = 2
chips = 3
breads = 1.2
eggs = 40