In [ ]:
#String is a data type in python. Any thing written in single or double quotes.
#Elements may be letter, numbers, SPecial character.

In [9]:
x = 'Lovely Weather'
type(x)

str

In [10]:
#Length of string No. Of elements spaces will be counted too

In [11]:
x

'Lovely Weather'

In [12]:
len(x)

14

In [13]:
x= 'maths' ; y='astronomy' ; z='space'

In [14]:
print(x,y,z)

maths astronomy space

In [16]:
# Tab(t)
A = 'Maths\tAstronomy\t\t\t\tSpace'

In [17]:
print(A)

Maths	Astronomy				Space

In [18]:
#Escape String

In [21]:
A = 'This is Mercury which is a planet.\nThis pluto which is not a planet'

In [22]:
A

'This is Mercury which is a planet.\nThis pluto which is not a planet'

In [23]:
print(A)

This is Mercury which is a planet.
This pluto which is not a planet

In [68]:
#Adding of strings
x = 'Saturn '
'This is a '+ x  +'and this is Mars'

'This is a Saturn and this is Mars'

In [47]:
x = 20 
'this is a '+  str(x) + ' course'

'this is a 20 course'

In [44]:
# Eval command eval('a+b') = eval('a') + eval('b')

In [45]:
eval('2') + eval('3')

5

In [50]:
x= 'a a a b b b  B C D E'
print(x.count('a'))

3

In [51]:
# Replace Command
x = 'Abelian group@'
x.replace('@','s')

'Abelian groups'

In [52]:
#slicing of a list [a:b] = [a, b]

In [53]:
D= ['Jupiter', 'Beatlegeuse', 'uranus', 'europa']

In [54]:
D[1:3]

['Beatlegeuse', 'uranus']

In [55]:
D[0:4]

['Jupiter', 'Beatlegeuse', 'uranus', 'europa']

In [56]:
x = 'James Web Telescope'
x[0:3]

'Jam'

In [57]:
x[:20]

'James Web Telescope'

In [58]:
#stride[a::b] here a is starting poitn and b is increment

In [59]:
x

'James Web Telescope'

In [60]:
x[0::2]

'JmsWbTlsoe'

In [61]:
x[0::6]

'JWle'

In [62]:
#spliting command it splits elements of string

In [64]:
x = 'Europa is a moon of jupiter'
y= x.split()

In [65]:
y

['Europa', 'is', 'a', 'moon', 'of', 'jupiter']

In [66]:
len(y)

6

In [67]:
len(x)

27

In [69]:
y[0:3]

['Europa', 'is', 'a']

In [71]:
y[2:3:4]

['a']

In [72]:
x.split()

['Saturn']

In [73]:
x = 'Jupiter is a failed star'
x.split()

['Jupiter', 'is', 'a', 'failed', 'star']

In [76]:
' ' .join(x)

'J u p i t e r   i s   a   f a i l e d   s t a r'

# formitting

In [77]:
name  = "Talha" ; grade = "B"
"The student name is {} and the grade is {}".format(name ,grade)

'The student name is Talha and the grade is B'

In [85]:
Animals = ["Lion", "Tiger", "Wolf", "Leopard"]
safari = "i saw {}, {} and {}!"
safari.format(Animals[0],Animals[1],Animals[2])

'i saw Lion, Tiger and Wolf!'

In [88]:
safari

'i saw {}, {} and {}!'

In [89]:
safari.format(*Animals)

'i saw Lion, Tiger and Wolf!'

In [90]:
safari

'i saw {}, {} and {}!'

In [100]:
A= "Talha"
B= "22"
x= f'Hi, my name is {A} and i am {B} years old'

In [101]:
print(x)

Hi, my name is Talha and i am 22 years old

In [107]:
Animals = ["Lion", "Tiger", "Wolf", "Leopard"]
safari = "i saw {}, {} and {}!"
safari.format(Animals[2].upper(),Animals[0].capitalize(),Animals[2].upper())

'i saw WOLF, Lion and WOLF!'

In [109]:
num = "200"
eval(num) + 10

210

In [110]:
num = "200"
eval(num) + 10
numbers = [10, 20, 30]
"{} + {} + {} ".format(*numbers)

'10 + 20 + 30 '

In [111]:
numbers

[10, 20, 30]

In [112]:
num = "200"
eval(num) + 10
numbers = [10, 20, 30]
eval("{} + {} + {} ".format(*numbers))

60

In [113]:
num = "200"
eval(num) + 10
numbers = [10, 20, 30]
eval("{0} + {0} + {0} ".format(*numbers))

30

In [114]:
num = "200"
eval(num) + 10
numbers = [10, 20, 30, 50]
eval("{0} + {0} + {0} + {0}".format(*numbers))

40

In [115]:
num = "200"
eval(num) + 10
numbers = [10, 20, 30, 50]
eval("{2} + {1} + {0} + {0}".format(*numbers))

70

In [118]:
"%d * %d =%d" %(10, 20,(10*20))

'10 * 20 =200'

In [122]:
"%d * %d =%.2f" %(10, 20,(10/20))

'10 * 20 =0.50'

In [123]:
"%d * %d =%.3f" %(10, 20,(10/20))

'10 * 20 =0.500'

In [124]:
word = "Wonderful"
"The length of this word {} is {}".format(word, len(word))

'The length of this word Wonderful is 9'

In [125]:
word = "W o n d e r f u l"
"The length of this word {} is {}".format(word, len(word))

'The length of this word W o n d e r f u l is 17'

In [126]:
"days left are {num: .1f}".format(num = 300/7)

'days left are  42.9'

In [127]:
"days left are {num: .5f}".format(num = 300/7)

'days left are  42.85714'

In [134]:
p1 = "python" ; p2 = "older"
f"""this is a docstring that use {p1} 3.6 and cannot for {p2}""".replace("\n","").upper()

'THIS IS A DOCSTRING THAT USE PYTHON 3.6 AND CANNOT FOR OLDER'